/venv
*.db
__pycache__/
*.pyc
.env
instance
*.log
*.sqlite3
.DS_Store
coverage
html
cov
*.egg-info
dist
build
.pytest_cache/
migrations/__pycache__/
migrations/*.pyc
migrations/versions/*.pyc
.idea/
.vscode/
*.swp